# IDE
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.history

# OS
.DS_Store
Thumbs.db

# Cursor
.cursor

# MCP / Agent 工作目录
mcps/
agent-transcripts/
vulnscan-frontend/node_modules
terminals/
*.ex

# 构建产物
vulnscan-backend/server-arm64
*.tar
vulnscan-frontend/apps/web/mock/
